* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

input, textarea, [contenteditable] * {
  -webkit-user-select: auto;  /* Allow selection for input elements and those with contenteditable attribute */
}

body {
  background-color: #f6f2e7;
}

/* Index Screen */
.logo img{
  width: 98%;
  margin: 0 auto;
}


.content-padded {
  padding: 10px;
}

.container {
  background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    margin: 1em 0;
    padding: 1em;
    position: relative;
}

/* Form */

.ui.input {
    color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    position: relative;
}

.ui.teal.buttons .button, .ui.teal.button {
    background-color: #00B5AD;
    color: #FFFFFF;
}

/* Buttons */

.btn {
  display: block;
  border-radius: 6px;
  padding: 10px;
}

.login {
  margin: 10px 0;
  text-align: center;
}

.teal {
  background-color: #00B5AD;
  color: #FFFFFF;
}


/* History */
.history {
  margin: 0;
  padding: 0;
  list-style: none;
}

.history li {
  border-bottom: 1px solid #666;
  padding: 5px;
}
.late {
  background-color: #ec8484;
}










